@use 'sass:color';
@use 'sass:string';

@function rgb2hex($color) {
  @return string.unquote('#' + #{string.slice(color.ie-hex-str($color), 4)});
}

/**
 * 计算两个颜色的叠加效果
 * @param $upper 表示覆盖在上面的半透明颜色，通常是一个 RGBA 颜色值
 * @param $lower 表示被覆盖的纯色，通常是一个 RGB 颜色值
 * @return 计算得到的最终颜色的十六进制字符串表示，用于在 CSS 中应用
 */
@function mix-overlay-color($upper, $lower) {
  $opacity: color.alpha($upper); //计算上层颜色的透明度

  // 计算最终颜色的红、绿、蓝通道值
  $red: color.red($upper) * $opacity + color.red($lower) * (1 - $opacity);
  $green: color.green($upper) * $opacity + color.green($lower) * (1 - $opacity);
  $blue: color.blue($upper) * $opacity + color.blue($lower) * (1 - $opacity);
  // 将计算得到的 RGB 值转换为十六进制字符串并返回
  @return rgb2hex(rgb($red, $green, $blue));
}
