@import './var.css';
@import './blur.css';

.mb-10 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.gap-4 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}
.align-center {
  align-items: center;
}
/* 定义渐变蓝色 */
.gradient-blue {
  background: -webkit-linear-gradient(left, #007bff, #00c3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li {
  list-style: none;
}
ol {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
