@import './var.css';
@import './blur.css';

.vitepress-demo-preview__ant-design__container {
  box-shadow: none;
}
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-c-text-1);
}
.mb-10 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.gap-4 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}
.align-center {
  align-items: center;
}
/* 定义渐变蓝色 */
.gradient-blue {
  background: -webkit-linear-gradient(left, #007bff, #00c3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vitepress-demo-plugin__container .vitepress-demo-plugin-preview,
.vitepress-demo-plugin__container .vitepress-demo-plugin-description,
.vitepress-demo-plugin__container .vitepress-demo-plugin-source {
  width: auto;
}
