body {
  margin: 0;
  overflow: overlay;
  background-color: transparent;
  transition: 0.3s background-color;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 8px;
  background-clip: content-box;
  border: 2px solid transparent;
}
body[scroll],
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 205, 0.3);
  transition: 0s;
}
details > summary:first-of-type {
  font-size: 10px;
  padding: 8px 0;
  cursor: pointer;
  color: #1989fa;
}
.example {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
.mb-10 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.gap-4 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}
.align-center {
  align-items: center;
}
/* 定义渐变蓝色 */
.gradient-blue {
  background: -webkit-linear-gradient(left, #007bff, #00c3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
